// 给项目提供scss全局变量

// 左侧菜单宽度
$base-menu-width:260px;
// 折叠宽度
$base-menu-min-width:50px;
// 左侧菜单背景颜色
$base-menu-bg:#001529;
// 左侧菜单logo高度设置
$base-menu-logo-height:50px;
// 左侧菜单logo字体大小
$base-logo-title-font-size:20px;

// 顶部导航的高度
$base-tabbar-height:60px;